const backgroundColor = "{{ backgroundColor }}";
const foregroundColor = "{{ foregroundColor }}";

const black = "{{ black }}";
const blue = "{{ blue }}";
      const cyan = "{{ cyan }}";
const green = "{{ green }}";
const magenta = "{{ magenta }}";
const red = "{{ red }}";
const white = "{{ white }}";
const yellow = "{{ yellow }}";

const lightBlack = "{{ lightBlack}}";
const lightBlue = "{{ lightBlue }}";
const lightCyan = "{{ lightCyan }}";
const lightGreen = "{{ lightGreen }}";
const lightMagenta = "{{ lightMagenta }}";
const lightRed = "{{ lightRed }}";
const lightWhite = "{{ lightWhite }}";
const lightYellow = "{{ lightYellow }}";

const borderColor = "{{ borderColor }}";
const activeTabBorderBottomColor = "{{ activeTabBorderBottomColor }}";

const cursorColor = foregroundColor;
const cursorAccentColor = backgroundColor;

const selectionColor = "{{ selectionColor }}";

exports.decorateConfig = (config) =>
  Object.assign({}, config, {
    backgroundColor,
    foregroundColor,
    borderColor,
    cursorColor,
    cursorAccentColor,
    selectionColor,
    colors: {
      black,
      red,
      green,
      yellow,
      blue,
      magenta,
      cyan,
      white,
      lightBlack,
      lightRed,
      lightGreen,
      lightYellow,
      lightBlue,
      lightMagenta,
      lightCyan,
      lightWhite,
    },
    css: `
    /* source: https://github.com/sindresorhus/hyper-snazzy */

    /* Hide title when only one tab */
    .tabs_title {
      display: none !important;
    }

    /* Add a highlight line below the active tab */
    .tab_tab::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: ${activeTabBorderBottomColor};
      transform: scaleX(0);
      will-change: transform;
    }
    .tab_tab.tab_active::before {
      transform: scaleX(1);
      transition: all 200ms cubic-bezier(0, 0, 0.2, 1);
    }

    /* Fade the title of inactive tabs and the content of inactive panes */
    .tab_text,
    .term_term {
      opacity: 0.6;
      will-change: opacity;
    }
    .tab_active .tab_text,
    .term_active .term_term {
      opacity: 1;
      transition: opacity 0.12s ease-in-out;
    }

    /* Allow custom css / overrides */
    ${config.css}
  `,
  });
